<!DOCTYPE html>

<html>

<head>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portfolio" src="/img/Shankar.jpg">
    </div>
    {{>footer}}
</body>

</html>