<!DOCTYPE html>

<html>

<head>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> This site was created by Astec Solutions Inc using MapBox.com and Darksky.net </p>
        <img class="portfolio" src="/img/Shankar.jpg">
    </div>
    {{>footer}}
</body>

</html>