<!DOCTYPE html>

<html>

<head>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{message}}</h1>
    </div>
    {{>footer}}
</body>

</html>